/* total page styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}


/* Common shared styles */

.pink-text {
    color: #E55473;
}
.red-txt{
    color: red;
}



/* header related styles */

.header {
    background-color: #E554731A;

}

/* banner related styles */

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 240px;
    padding-top: 30px;
    /* border: 3px solid red; */
}

.banner content {
    width: 70%;
    /* border: 3px solid lime; */

    /* margin-right: 97px; */
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-right: 97px;
    width: 708px;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0px;
    width: 634px;
}

.banner-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-top: 32px;
}


/* featured section styles */

/* featured text related styles */

.featured-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 175px;
}

.featured-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 48px;
    line-height: 30px;
}


/* featured image related styles */

.featured-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin: 0px 240px;
}

.img-box-content {
    text-align: center;
}

#img-1 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
}

#img-2 {
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

#img-3 {
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.img-title {
    margin-top: 32px;
    margin-bottom: 128px;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* service section related styles */


.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 85px;
    margin: 125px 240px;
    /* border: 2px solid red; */
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.services-img {
    width: 88px;
    height: 88px;
    margin-bottom: 25px;
}

.services-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 0px;

}


/* Hot deals section related styles*/
.hot-deals {
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 125px;
}

.hot-deals-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    text-align: center;
    padding: 100px 350px;
    border: 2px solid red;
}

.hot-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 90px;
}

.hot-deals-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hot-deals-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* Instagram section related styles */

.insta-content {
    text-align: center;
    margin: 0px 240px;
}

.insta-text {

    margin-bottom: 50px;
}

.insta-text-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.insta-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.insta-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 130px;
}


/* Get latest deals section related styles */

.latest-deals-container {
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: 0px 180px 130px 180px;
}

.latest-deals-contents {
    text-align: center;
}

.l-d-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 125px;
    margin-bottom: 16px;
}

.l-d-d {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 50px;
}

.l-d-subscription {
    width: 700px;
    height: 65px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.l-d-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-left: 16px;
}

/* bonus section related styles */

.giveaway-content{
    background-image: url("../Flower Asset/nikita-tikhomirov-dv7cSiHurKM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto ;
    width: 1440px;
    height: 570px;
    margin: 0px 180px 130px 180px;
    border-radius: 10px;
}
 
.giveaway-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.giveaway-title{
    color: whitesmoke;
    font-size: 40px;
    font-weight: 800;
    padding-top: 125px;
    margin-bottom: 16px;
}

.giveaway-description{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 50px;

}
.giveaway-txt{
    width: 700px;
    height: 65px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}


.giveaway-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: red;
    border: none;
}

/* Footer related styles */

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #111010;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 130px;
    margin-bottom: 25px;
}

.footer-desciption {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
    margin-top: 0px;
}

.copyright {
    width: 355px;
    height: 20px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 128px;

}